@import "defaults";


.drawable-data-editor {
  padding: 0 1em;
  display: block;
  max-height: 30%;
  min-height: 15em;
  overflow: auto;
  flex-basis: 0;
  flex-grow: 1;


  table {
    border-collapse: collapse;
  }

  tr {
    background-color: darken(@uiColor2, 2%);
    border-top: 0.2em solid @uiColor2;
    border-radius: 2em;

    td:nth-child(1) {
      padding-left: 0.2em;
    }
    td:last-child {
      padding-right: 0.2em;
    }

  }


  input {
    margin: 0.2em;
    border: none;
    padding: 0.1em 0.2em;
    background-color: @uiColor1;
  }

  button {
    width: 1.7em;
    border: 1px solid transparent;
    background-color: inherit;
  }

  button:hover {
    border: 1px solid darken(@ciMainColor, @buttonBorderDarkening);
    border-radius: @uiElementBorderRadius;
    background-color: @ciMainColor;
  }

  button:active {
    background-color: @highlightColor;
    border-radius: @uiElementBorderRadius;
    border: 1px solid darken(@highlightColor, @buttonBorderDarkening);
    color: white;
  }

  .drawable-data-field-name {
    background-color: inherit;
    border: none;
    font-weight: bold;
  }

  .drawable-data-field-name:focus {
    background-color: @uiColor1;
    border: none;
    outline: none;
    font-weight: normal;
  }


}
