//https://coolors.co/5386e4-4c4b63-949396-aba8b2-c3c3c3
//https://coolors.co/fe4a49-fed766-009fb7-e6e6ea-f4f4f8
//https://coolors.co/6c756b-93acb5-96c5f7-a9d3ff-f2f4ff
//https://coolors.co/2b2d42-e7e7e7-000000-ffa62b-9882ac
//https://coolors.co/b0413e-e7e7e7-548687-473335


//https://coolors.co/fed766-ff595e-0081cc-646165-e6e6ea-f4f4f8

// Orange yellow crayola
@accentColor:#FED766;

// Green blue crayola
@highlightColor:  #0081CC;

// Sizzling red
@alertColor: #FF595E;

// Dim gray
@uiColor3: #646165;

// Ghost wire
@uiColor1: #F4F4F8;

// Gainsboro
@uiColor2: #E6E6EA;



@drawableMainColor: coral;

@fontFamilies: "Nunito Sans", SansSerif, sans-serif;

@uiElementBorderRadius: 0.2em;
