.drawable-app-footer {
  background: @uiColor3;
  color: @uiColor1;
  padding: 1em 2em;
  height: @footerHeight;


  button.drawable-library-preview {
    background-color: @uiColor1;
    color: @uiColor3;
    margin-left: 1em;
  }
  button.drawable-library-preview:hover {
    background-color: @uiColor2;
    color: @uiColor3;
  }
}