
.drawable-app-header {
  background: @ciMainColor;
  border-bottom: 1px solid darken(@ciMainColor, 2%);
  padding: 0.7em 2em;
  z-index: 500;

  h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    flex: 1 1 100%;

    span {
      font-weight: lighter;
      font-size: 0.5em;
    }
  }

  .drawable-header-functions:nth-child(2) {
    justify-content: center;
  }

  .drawable-header-functions:nth-child(3) {
    justify-content: right;
  }

  .drawable-header-functions {

    display: flex;
    flex-direction: row;
    flex: 1 1 100%;

    button {
      background-color: @uiColor2;
      margin-right: 0.25em;
      margin-left: 0.25em;
      display: flex;
      align-items: center;
      padding: 0.2em 0.4em;

      svg {

      }
    }

    button:hover {
      background-color: @uiColor1;
    }
  }


  label {
    font-weight: bold;
  }

  label:after {
    content: ":";
  }

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      button {
        background: @ciMainColor;
        color: black;
        border: 1px solid black;
        border-radius: 0.2em;
        margin-left: 0.4em;
        width: 4.5em;
      }

      button:hover {
        background: black;
        color: white;
      }
    }
  }

  .locale-switcher, .aspect-ratio-switcher {
    display: inline-block;
    background: @ciMainColor;
    margin-left: 1em;

    select {
      border: 1px solid black;
      border-radius: @uiElementBorderRadius;
    }

    option, select {
      font-family: @fontFamilies;
      margin-left: 0.2em;
      background: @uiColor1;
    }

    option:hover {
      background: black;
      color: white;
    }
  }

  .drawable-profile-button {

    button {
      color: black;
      padding: 0.2em 1em;
      border: none;
      margin-left: 1em;
    }

    button:hover {
      background-color: @uiColor1;
    }

    .drawable-profile-popover {
      position: absolute;
      display: block;
      background-color: @uiColor2;
      margin-right: 1em;
      box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1) ;

      ul {
        display: block;

        li {
          display: block;
          padding: 0.5em 1em;
          border-top: 1px solid darken(@uiColor2, 20%);
        }

        li:hover {
          background-color: @uiColor1;
        }

      }


    }

  }

}