@import "defaults";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto !important;
}

.drawable-intro-content {
  .drawable-intro-howto {

    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 5em;

    .drawable-app-container {
      border: 1px solid @ciMainColor;
      border-top-width: 1em;
      outline: none;

      width: 30em;
      height: 20em;
      margin-right: 4em;
      margin-left: 4em;
    }


    .drawable-intro-howto-descr {
      display: block;
      max-width: 30em;

      h2 {
        margin: 0;
      }

      p {
        display: block;
      }
    }
  }
}

a.drawable-next, a.drawable-previous {
  margin: 1em;
  display: inline-block;
  background: @highlightColor;
  padding: 1em 2em;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 0 4px @highlightColor;

  h1 {
    margin: 0 0 0.5em;
    padding: 0;
    font-size: 1.5em;
  }
}

a.drawable-next {
  h1 {
    text-align: right;
  }

  h1:after {
    content: " >>";
  }
}

a.drawable-previous {
  h1 {
    text-align: left;
  }

  h1:before {
    content: "<< ";
  }
}
