.drawable-properties-style  {
  padding: 1em;

  h2 {
    margin: 0 0 1em;
  }

  > div:nth-child(4) {
      border-top: 1px solid @uiColor1;
      margin-top: 1em;
      padding-top: 1em;
  }

  > div  {
    margin-top: 0.5em;
    input {
      margin-right: 1em;
    }
  }
}