@import "defaults";


.drawable-steplist-container {
  padding: 0 1em;
  display: block;
  overflow: auto;


  label, button {
    font-size: 80%;
    font-weight: normal;
    letter-spacing: normal;
  }

  label {
    float: right;
  }
  input[type="checkbox"] {
    float: right;
  }



  .drawable-steplist-step {
    position: relative;
    background-color: @uiColor1;
    border: 1px solid darken(@uiColor1, 10%);
    margin: 0.5em 0;
    padding: 1em;
    border-radius: @uiElementBorderRadius;
    transition: background-color 0.15s;
  }

  .drawable-steplist-step.filteredOut {
    padding: 0.1em;
  }

  .drawable-steplist-step.selected, .drawable-steplist-step.selected:hover {
    background: @ciMainColor !important;
  }

  .drawable-steplist-step-pause {
    position: absolute;
    top: 0.8em;
    left: 0.8em;
    font-weight: bold;
    font-size: 0.5em;
    letter-spacing: 0.2em;
  }

  .drawable-steplist-step-delete {
    position: absolute;
    top: 0.2em;
    right: 0.2em;

  }

  .drawable-steplist-step:hover {
    background: lighten(@uiColor1, 30%);
    border: 1px solid @ciMainColor;
  }

}
