footer(id="drawable-footer")
    span dapentry &copy; 2021-2022, Stephan Smola
    ul
        li made with &hearts; in Saarbrücken
        //li: a(href="introduction.html") Guide
        li: a(href="introduction.html") Designer
        li: a(href="introduction.html") Contact

    span
        a(href="imprint.html") Imprint
        a(href="privacy.html") Privacy

svg(id="svgDefinitions" xmlns="http://www.w3.org/2000/svg")
    defs
        radialGradient(id="handleGradient" cx="30%" cy="30%" r="78%")
            stop(offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1.00")
            stop(offset="65%" style="stop-color:rgb(213,211,211);stop-opacity:1.00")