meta(charset="UTF-8")
title Using Data
link(rel="stylesheet" href="../../ui/css/icons/fa/css/all.css")
link(rel="stylesheet" href="../../ui/css/drawable.less")
link(rel="stylesheet" href="../../ui/css/introduction.less")
style(type="text/css").
    /* nunito-sans-regular - latin */
    @font-face {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        /*noinspection CssUnknownTarget*/
        src: url('../../ui/css/fonts/nunito-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
        /*noinspection CssUnknownTarget*/
        src: local(''),
        url('../../ui/css/fonts/nunito-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../ui/css/fonts/nunito-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../../ui/css/fonts/nunito-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../../ui/css/fonts/nunito-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../ui/css/fonts/nunito-sans-v11-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
    }