header
    h1
        a(href="https://dapentry.com") dapentry
        span dynamic visualisations


    section
        //a(href="https://designer.dapentry.com") Guide

        a(href="https://cheat.dapentry.com") Cheat Sheet

        a(href="https://designer.dapentry.com") Designer