{
  "ignore": [
    "**/*.d.ts"
  ],
  "presets": [
    ["transform-ui5", {
      "modulesMap": {}
    }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "babel-plugin-transform-async-to-promises",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}