# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/

# Webpack build directory
dist/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/fileTemplates/Test_Mocha_Chai_Sinon.ts
/.idea/untitled.iml
/.idea/vcs.xml
/.nyc_output/
/coverage/
/build/
/src/controls/*.tsinterface.ts
/doc/reference/

/buildPerf/
/isolate*.log
.parcel-cache
