{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "cache": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.js",
    "src/**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "src/controller/**",
    "src/Component.ts",
    "src/BaseComponentController.ts",
    "src/ComponentController.ts",
    "src/controls/**",
    "src/perfTests/**",
    "dist/**",
    ".idea/**",
    "**/*.d.ts",
    "**/*.test.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "lcov",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}