html
    head
        title Introduction | dapentry
        include ../includes/introHead
    body

        include ../includes/introHeader

        section(class="drawable-intro-content")

            section(class="drawable-intro-teaser")
                p.
                    dapentry allows you to create rich, data driven visualisations without writing
                    code. On the following pages, we'll introduce the tools available that will enable you to create
                    visualisations yourself.

                p.
                    We will introduce the various functionalities of the designer one by one. Not all functions
                    are available all the time. In the end you'll have a designer with the whole feature set and
                    will be ready to use all those features.

            section

            include ../includes/steps/drawingShapes

            include ../includes/steps/usingHotKeys

            include ../includes/steps/transformations

            include ../includes/steps/snapping


        div(class="drawable-page-navigator")
            span
            a(class="drawable-next" href="steps.html")
                h1 Next
                | Steps

        include ../includes/introFooter

        script(type="module" src="../introduction.ts")