html
    head
        title A star | dapentry
        meta(charset="UTF-8")
        link(rel="stylesheet" href="../../ui/css/drawable.less")
        link(rel="stylesheet" href="../../ui/css/tutorial.less")
        style(type="text/css").
            /* nunito-sans-regular - latin */
            @font-face {
                font-family: 'Nunito Sans';
                font-style: normal;
                font-weight: 400;
                /*noinspection CssUnknownTarget*/
                src: url('../../ui/css/fonts/nunito-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
                /*noinspection CssUnknownTarget*/
                src: local(''),
                url('../../ui/css/fonts/nunito-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../ui/css/fonts/nunito-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../../ui/css/fonts/nunito-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../../ui/css/fonts/nunito-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../ui/css/fonts/nunito-sans-v11-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
            }
    body
        header
            h1 dapentry
                span dynamic visualisations

        section.tutorial
            h2 A star
            p.
                This is one of the examples from Bret Victors demonstration. It especially demonstrates
                the concepts of using polygons, glomping and loops.

            p Here is the final result:

            div.demo
                svg(id="drawing" height="15em")

                div
                    span You can change the values

                    ul(id="demoValues")

            p
                | Just like with the
                |
                a(href="/barChart.html") bar chart
                |
                | we will make the drawing without absolute sizes but relative to the canvas.

            h3 Aspect ratio

            p
                | The aspect ratio of the drawing is not overly important for this drawing but a
                |
                strong 1:1 aspect ratio
                |
                | is the most natural choice

            img(src="../includes/tutorials/star/chooseAspectRatio11.png")

            h3 A helper line for sweeping

            p
                strong Draw a line (l)
                |
                | from the
                em center
                |
                | of the canvas to it's
                |
                em top.

            img(src="../includes/tutorials/star/drawLine.png")

            p
                |
                | Turn this line into a
                |
                strong guide (h).

            img(src="../includes/tutorials/star/makeHelper.png")

            h3 Starting the polygon

            p
                strong Draw a polygon (p)
                |
                em with
                |
                |
                strong one point
                |
                |
                em at the end of the line.
                |
                | Remember that you finish polygon drawing with a right click. This point defines the tip of the spokes.

            img(src="../includes/tutorials/star/startPolygon.png")

            p
                | Since the polygon only has one point, it will be represented with this symbol:

            img(src="../includes/tutorials/star/singlePointPolygon.png")

            h3 First rotation

            p
                | To create the star shape we need to rotate the line three times.
                |
                strong Select the line (click)
                |
                | and
                |
                strong rotate (r)
                |
                | it around its
                |
                em start point
                |
                | by
                |
                strong grabbing the end.
                |
                | You can use an arbitrary angle. In a moment we will define the proper angle
                | necessary to create the star shape.

            img(src="../includes/tutorials/star/rotateOnce.png")

            p
                | Create a new data value by clicking the
                |
                img(src="../includes/cheat/DataPlus.png")
                | -button.
                br
                strong Double click
                |
                | it and rename it to
                |
                em spokes.
                |
                | This will define how many spokes the star will have.

            p
                | Create another data value and
                | it and rename it to
                |
                em angle.
                |
                | We will use this value to compute the angle for our rotation based on the number of spokes.
                | Rotation is done in
                |
                em degrees
                |
                | and since we need two rotations for one spoke we use the formula
                |
                em 180 / spokes

            img(src="../includes/tutorials/star/spokesAndAngle.png")

            p
                | Now we can use the computed angle for the first rotations step.
                |
                strong Select the rotation step

            img(src="../includes/tutorials/star/selectRotationOne.png")

            p
                | Next
                |
                strong Drag
                |
                | the
                |
                strong angle field
                |
                | onto the angle parameter of the step in the
                |
                em step editor

            img(src="../includes/tutorials/star/dragAngle.png")

            h3 Second point of the polygon

            p
                | Now we create the second point for the polygon by extending it.
                | Using the polygon tool (p) while a polygon is selected will always
                | extend the select polygon.

            p
                strong Select the polygon
                |
                | and hit
                |
                strong extend it (p)
                |
            p
                | Now we use glomping to chose a point on our guide line.
                | With the polygon tool still active
                |
                strong select the glomp object (tab).
                |
                | Since there's only on other object, the guide line, the polygon tool
                | is now restricted to points on this line.

            img(src="../includes/tutorials/star/glomping.png")

            p
                | Choose an arbitrary point on the line by
                |
                strong clicking left.
                |
                | Then end the polygon tool by
                |
                strong clicking right.

            img(src="../includes/tutorials/star/secondPolygonPoint.png")

            p
                | Now create a third
                |
                em data point,
                |
                | name it
                |
                strong spoke ratio
                |
                | Make sure to use a
                |
                strong value between 0 and 1.
                |
                | Then
                |
                strong drag it onto the glomping ratio
                |
                | of the
                |
                em extend polygon step.

            img(src="../includes/tutorials/star/dragSpokeRatio.png")

            h3 Second rotation

            p
                | Now we do the second rotation of the guide line, again using our computed angle.
                |
                strong Select (click)
                |
                | the guide line.
                |
                strong Rotate (t)
                |
                | it by an arbitraty angle.
                |
                strong Select the second rotation step
                |
                | and use our computed angle by
                |
                strong dragging it onto the angle argument.




            h3 Looping

            p
                | As the final step we now loop all but the first step.
                |
                strong Select the steps 2 to 5
                |
                | and click the

            img(src="../includes/tutorials/star/loopSteps.png")

            p
                | The default loop value is 4 so if you have set the value for
                |
                em spokes
                |
                | to four you'd already see a four spoked star. Otherwise the shape looks funny
                | since the angle does not match the number of iterations. So let's fix that.

            p
                strong Select the Repeat-step
                |
                | and
                |
                strong  drag the spokes-field onto the
                |
                |
                em number of iterations

            p
                | We're done! A star that reacts to changes on the number of spokes
                | and the spoke ratio.

            img(src="../includes/tutorials/star/dynamicStar.gif")





            script(src="../includes/tutorials/star/interactive/example.mjs" type="module")


        include ../includes/introFooter




