html
    head
        title Steps | dapentry
        include ../includes/introHead
    body

        include ../includes/introHeader



        div(class="drawable-page-navigator")
            a(class="drawable-previous" href="introduction.html")
                h1 Previous
                | Introduction
            a(class="drawable-next" href="usingData.html")
                h1 Next
                | Using data

        include ../includes/introFooter
        script(type="module" src="../introduction.ts")