html
    head
        title dapentry | Terms of service
        include ../includes/introHead

    body(class="drawable-imprint")

        include ../includes/introHeader

        h2 Terms of service

        p
            | The following terms apply to all software,services and functionalities provided by dapentry,
            | represented by Stephan Smola, Im Wittum 2, 66117 Saarbrücken, Germany.
            | The user may only use the software, services and functionalities in accordance to these terms.
            | By using the  Site and any services accessible from the dapentry site, you are agreeing to
            | be bound by these Terms of Service. If you do not agree to these terms of service or any part
            | of them, your must not use the dapentry site or any services or products offered on it or on any other
            | platform offered by dapentry.

        p
            | dapentry reserves the right to refuse service to anyone for any reason at any time.

        p
            | dapentry hereby grants you a non-exclusive, non-transferable, worldwide right to access and use
            | the dapentry site and services.
            | All rights not expressly granted to you are
            | reserved by dapentry and its licensors.

        p
            | You are not allowed to
        ul
            li modify or make derivative works based upon the dapentry site
            li
                | reverse engineer or access the dapentry site in order to ,build a competitive product or service,
                | build a product using similar features, functions or graphics of the dapentry Site, or
                | copy any features, functions or graphics of the dapentry site.
        p
            | You further acknowledge and agree that
            | dapentry owns all rights, title, and interest in and to the dapentry site,
            | including all intellectual property rights therein.
        p
            | THE SOFTWARE, SERVICES AND GENERATED CODE IS PROVIDED "AS IS" AND THE AUTHOR OF THE SOFTWARE AND CODE GENERATOR
            | DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY
            | AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL
            | DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF
            | CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE
            | OF THIS SOFTWARE OR THE GENERATED CODE.

        p
            | You license public content created using the dapentry site and services
            | with an
            |
            a(href="https://opensource.org/licenses/MIT" target="mit-license")
                strong MIT License
            |
            | to dapentry and other users. This allows users to
            | use, copy, reproduce, process, adapt, modify, publish, transmit, display
            | and distribute such content in any and all media or distribution
            | methods now known or later developed. These additional uses
            | by dapentry or others may be made with no compensation paid to you.

        p
            | Additionally, by putting content on the dapentry Site, you warrant,
            | represent and agree that you have the right to grant dapentry the license to this content
            | as described above. You also represent, warrant and agree that you have not and will not
            | contribute any content that

        ul
            li infringes, violates or otherwise interferes with any copyright or trademark of another party,
            li
                | reveals any trade secret, unless the trade secret belongs to you or you
                | have the owner’s permission to disclose it,
            li
                | infringes any intellectual property right of another or the privacy or publicity rights
                | of another,
            li
                | is hateful, offensive, abusive, threatening, libelous, defamatory, harassing or otherwise
                | violates any law or right of any third party,
            li
                | creates an impression that you know is incorrect, misleading, or deceptive,
                | including by impersonating others or otherwise misrepresenting your affiliation with a person or entity;
            li
                | contains other people’s private or personally identifiable information without their express authorization
                | and permission,
            li
                |contains or links to a virus or other computer programming routine or engine that is
                | intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate
                | any system, data or information.

        p
            | dapentry reserves the right in its discretion to remove any content from the site,
            | suspend or terminate your account at any time, or pursue any other remedy or relief available
            | under equity or law

        p
            | You are responsible for your use of the service, for any content you provide, and for any
            | consequences thereof, including the use of your content by other users and third party partners.
            | You understand that your content may be republished and if you do not have the right to
            | submit content for such use, it may subject you to liability.
            | dapentry will not be responsible or liable for any use of your content in accordance with
            | these terms of service.

        include ../includes/introFooter