html
    head
        title Using Data | dapentry
        include ../includes/introHead
    body

        include ../includes/introHeader

        section(class="drawable-intro-content")

            include ../includes/steps/dataeditor

            include ../includes/steps/dataLists


        div(class="drawable-page-navigator")
            a(class="drawable-previous" href="editingSteps.html")
                h1 Previous
                | Editing Steps
            a(class="drawable-next")
                h1 Next
                | Loops and Guides

        include ../includes/introFooter

        script(type="module" src="../introduction.ts")