#svgDefinitions {
    position: absolute;
    left: -1000vw;
}

.noPointerEvents {
    pointer-events: none;
}

svg {
/*    box-shadow: 5px 5px 15px 0 rgba(20, 20, 20, 0.2);
    border: 1px dotted #d5d5d5;*/
    background: none;
    outline: none;
    max-height: 80vh;
    margin-top: -10px;
    margin-left: -10px;
}

svg circle, svg rect, svg path {
    stroke-width: 2;
    stroke: coral;
    fill: coral;
    fill-opacity: 0.2;
}

line {
    stroke-width: 2;
    stroke: coral;
}

svg g .boundingBox {
    stroke-width: 3;
    stroke: lightseagreen;
    fill: none !important;
}

svg .stsDrawableCanvasDisplay {
    fill-opacity: 1;
    fill: #fbfbfb !important;
    stroke-width: 0;
    stroke: none;
    filter: url(#dropShadow);
}

circle.pointOfInterest {
    fill: #4da6ff;
    fill-opacity: 0.2;
    stroke: #4da6ff;
    stroke-width: 1;
}

.transformationHandle {
    fill-opacity: 1;
    stroke-width: 1;
    stroke: #3f3f3f;
    fill: url(#handleGradient);
    /*fill: black;*/
}