@import "defaults";

#svgDefinitions {
    position: absolute;
    left: -1000vw;
}

.noPointerEvents {

}

svg .stsDrawableCanvasDisplay {
    fill-opacity: 1;
    fill: #fbfbfb !important;
    stroke: darken(@uiColor2, 10%);
    stroke-width: 1;
    stroke-dasharray: 10;

}


svg circle, svg rect, svg path {
    stroke-width: 2;
    stroke: @drawableMainColor;
    fill: @drawableMainColor;
    fill-opacity: 0.2;
}

line {
    stroke-width: 2;
    stroke: coral;
}

svg g .boundingBox {
    stroke-width: 3;
    stroke: lightseagreen;
    fill: none !important;
}



circle.pointOfInterest {
    fill: #4da6ff;
    fill-opacity: 0.2;
    stroke: #4da6ff;
    stroke-width: 1;
}

.transformationHandle {
    fill-opacity: 1;
    stroke-width: 1;
    stroke: #3f3f3f;
    fill: url(#handleGradient);
    /*fill: black;*/
}