section
    h1 Data
    ul
        li
            strong Add a new data field
            |
            | by clicking the
            |
            img(src="../includes/cheat/DataPlus.png" alt="+")
            | -button below the list
            |
        li
            strong Change the value
            |
            | by either
            |
            | entering it
            |
            | or holding
            |
            em Ctrl
            |
            | while
            |
            i clicking
            |
            | into the field and
            |
            i dragging
            |
            | the mouse left and right
        li
            i Double click
            |
            | the name to
            |
            strong rename
            |
            | the field.
        li
            | Click the
            |
            img(src="../includes/cheat/DataPlus.png" alt="+")
            | -button at the end of a field to
            |
            strong add a value.
            |
            | Single value fields will be turned into lists.
        li
            i Empty
            |
            | a value to
            |
            strong remove a value
            |
            | from a list. Will not work for single value fields.

        li
            strong Turn a field into a table
            |
            | by clicking the
            |
            img(src="../includes/cheat/DataNewLine.png" alt="new line")
            | -button.

        li
            strong Remove a data field
            |
            | by clicking the
            |
            img(src="../includes/cheat/DataMinus.png" alt="-")
            | -button

    h1 Object Properties
    ul
        li
            strong Properties
            |
            | can be used as data.
            br
            i Select
            |
            | an object and they are listed on the right.
            br
            i drag and drop
            |
            | on the step field or
            br
            i type &lt;object name&gt;@&lt;property name&gt;
            |
            | e.g. Circle1@radius


