section
    h1 Glomping
    ul
        li
            em Tab
            |
            | will switch to glomping when some tools are active
        li
            | Repeatedly
            |
            em Tab
            |
            | to cycle through objects that support it.
            | Cycle ends with glomping mode off.

