section
    h1 Grubbing
    ul
        li
            em Tab
            |
            | will switch to grubbing when some tools are active
        li
            | Repeatedly
            |
            em Tab
            |
            | to cycle through objects that support it.
            | Cycle ends with grubbing mode off again.

