section.drawable-cheat-sheet-library
    h1 Library
    ul
        li
            strong Login
            |
            | to use the library
        li
            strong Save
            |
            | the drawing by clicking the
            br
            img(src="../includes/cheat/libSave.png" alt="save to lib")
            | -button
        li
            strong Insert
            |
            | a drawing from the library by
            |
            i clicking
            |
            | the drawings image.
            | Then drag a rectangle.
        li
            strong Edit
            |
            | a drawing from the library by clicking the
            br
            img(src="../includes/cheat/libEdit.png" alt="save to lib")
            | -button

    h1 Publish
    ul
        li
            strong Publish
            |
            | the drawing by clicking the
            br
            img(src="../includes/cheat/libPublish.png" alt="save to lib")
            | -button
            |
            | You'll get a zip-file containing everything to use
            | the drawing on your own web page.
