section
    h1 Loops
    ul
        li
            | Select Steps and click
            |
            i Loop
            |
            | to wrap them in a
            |
            strong Loop
            br
            img(src="../includes/cheat/doLoop.png")

    h1 For Each
    ul
        li
            | Use a value list as the iteration data
            | of a
            |
            i Loop.
            |
            | It will be automatically turned into
            |
            strong For each.
            br
            img(src="../includes/cheat/forEach.png")
            br
            | works for typing the field name and drag and drop.
        li
            strong Current value
            |
            | is accessed using
            |
            i $&lt;list&gt;
            br
            | drag and drop will do this automatically


