section
    h1 Creation
    ul
        li
            em C
            strong Circle
            | , hold
            em Alt
            | for point to point
        li
            em R
            strong Rectangle
        li
            em L
            strong Line
            | , hold
            br
            em Shift
            | for
            |
            strong axis alignment
        li
            em P
            strong Polygon
            |, selected Polygon will be extended, hold
            br
            em Shift
            | for
            |
            strong axis alignment
            | , Polygons in loops are always extended
            br
            em Backspace
            | to delete points (for current step)
        li
            em W
            strong Text
            |
            | There's only one font atm.
        li
            em H
            |
            | Toggles an objects
            |
            strong Helper
            |
            | status

        li
            em Del
            strong Delete
            |
            | selected object. If other objects use this object, they
            | will be deleted too.
        li
            em Ctrl
            | +
            em Z
            |
            | Undo

    h1 Transformation
    ul
        li
            em G
            strong Move
            |, hold
            br
            em Shift
            | for axis alignment
        li
            em S
            strong Scale
            |, hold
            br
            em Shift
            | to scale uniformly
        li
            em T
            strong Rotate

