section
    h1 Steps
    ul
        li
            strong Select
            |
            | a steps by
            i clicking
            |
            | it.
            br
            em Shift
            |
            | to select a region.
            |
            | The drawing will only be drawn
            | up to the last step in the selection

        li
            em &downarrow;
            |
            | to advance the drawing one step. Loops
            | will be iterated accordingly.

        li
            strong Delete
            |
            | a step by clicking the
            |
            img(src="../includes/cheat/DeleteStep.png" alt="x")
            | -button
            br
            | Steps depending on the deleted step will be
            | removed as well.

        li
            | With an object selected click the
            |
            img(src="../includes/cheat/StepsFilter.png" alt="filter")
            | -button
            | to only show the steps that use the selected object.
            

