section.drawable-cheat-sheet-styles
    h1 Styles
    ul
        li
            strong Select
            |
            | the object by clicking on it
        li
            strong Fill color
            |
            | is set by the color picker.
        li
            strong Fill opacity
            |
            | is set by the slider to values between 0-1
        li
            strong Stroke color
            |
            | sets the outlines color
        li
            strong Stroke width
            |
            | sets the thickness of the oulinte to values
            | between 0 and 100
        li
            strong Styling steps
            |
            | are created.
            | Subsequent steps of the same type are merged.