html
    head
        title dapentry
        include ./webhead

    body(class="welcome")

        include ../introduction/includes/introHeader

        h2 Data Driven Visualisations without Coding

        p
            | Draw visualisations that change with data without the need to code.

            | dapentry is still very alpha but in a state where it is basically usable.
            | Documentation is in the works.

        p
            | To get started there are two simple tutorials to show you the basics of what's
            | possible right now

        ul
            li
                a(href="barChart.html") A simple bar chart
            li
                a(href="star.html") A star

        p
            | There is also a
            |
            a(href="https://cheat.dapentry.com") cheat sheet
            |
            | for an overview of the features.

        a(href="https://designer.dapentry.com" class="biglink") Try it here

        p
            | Drawings can be exported as a JavaScript file to use on your own website.
            | Exported drawings support the data driven aspects. They provide a function
            | you pass the data.

        p
            | dapentry is based on the ideas in
            |
            a(href="http://worrydream.com/") Bret Victor's
            |
            | talk
            |
            a(href="http://worrydream.com/#!/DrawingDynamicVisualizationsTalk") "Drawing Dynamic Visualizations"
            |
            | and the accompanying
            |
            a(href="http://worrydream.com/#!/DrawingDynamicVisualizationsTalkAddendum") talk notes
            | . Not all ideas are implemented yet.

        h2 What's with the name?

        p
            | "dapentry" is an artificial word based on two terms from the language Esperanto
        ul
            li "datumoj" for data
            li "pentri" for painting
        p
            |
            | In my head I pronounce it
            |
            strong [ˈdeɪpəntriː]
            |
            | like in
            |
            strong day
            |
            | (o)
            strong pen
            |
            |
            strong tree
            |
            | with emphasis on the first syllable.

        include ../introduction/includes/introFooter