html
    head
        title dapentry
        include ./webhead

    body(class="welcome")

        include ../introduction/includes/introHeader

        h2.first Data Driven Visualisations without Coding

        p
            | Draw visualisations that change with data without the need to code.

            | dapentry is still very alpha but in a state where it is usable.
            | Documentation is in the works.

        p
            | To get started there are two simple tutorials to show you the basics of what's
            | possible right now

        ul
            li
                a(href="barChart.html") A simple bar chart
            li
                a(href="star.html") A star

        p
            | There is also a
            |
            a(href="https://cheat.dapentry.com/cheatsheet.html") cheat sheet
            |
            | for an overview of the features.

        a(href="https://designer.dapentry.com" class="biglink" target="dapentry_designer") Try it here

        p
            | Drawings can be exported as a JavaScript. The export contains all you need, no further
            | dependencies are required.
            | Exported drawings support the data driven aspects. They provide a function
            | you pass the data.

        p
            | With this the drawing can easily be used on your own website:

        img(src="exampleExportCode.png" width="331px")

        p
            | This example above will render a static image, but now it is easy to add interactivity for the user:

        div.demo
            svg(id="drawing" height="15em")

            div
                span You can change the values

                ul(id="demoValues")

        a(href="https://designer.dapentry.com" class="biglink" target="dapentry_designer") Try it here

        br

        h2 Credit to Bret Victor

        p
            | dapentry is based on the ideas in
            |
            a(href="http://worrydream.com/") Bret Victor's
            |
            | talk
            |
            a(href="http://worrydream.com/#!/DrawingDynamicVisualizationsTalk") "Drawing Dynamic Visualizations"
            |
            | and the accompanying
            |
            a(href="http://worrydream.com/#!/DrawingDynamicVisualizationsTalkAddendum") talk notes
            | . Right now, not all ideas are implemented.

        h2 What's with the name?

        p
            | "dapentry" is an artificial word based on two terms from the language Esperanto
        ul
            li "datumoj" for data
            li "pentri" for painting
        p
            |
            | In my head I pronounce it
            |
            strong [ˈdeɪpəntriː]
            |
            | like in
            |
            strong day
            |
            | (o)
            strong pen
            |
            |
            strong tree
            |
            | with emphasis on the first syllable.

        script(src="../introduction/includes/tutorials/star/interactive/example.mjs" type="module")

        include ../introduction/includes/introFooter