<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="ui"></div>
<svg xmlns="http://www.w3.org/2000/svg" id="canvas" width="800px" height="600px"></svg>
</body>
</html>