section(class="drawable-intro-howto")
    div(class="drawable-app-container wide" id="intro-basic-recording" tabindex="0")

    div(class="drawable-intro-howto-descr")
        h2 The Step List
        p.
            Everything you do on the drawing is recorded as an action in as a list of
            steps.

        p.
            In this example, multiple objects were created or manipulated. Each operation
            is represented by one step in the list. The steps are in the same order the actions
            were taken in the drawing.

        p.
            By clicking on a step you select it and the drawing is redrawn up until that step
            only. Holding down shift, you can select ranges of steps. The drawing will then be
            drawn up to the step selected last.

        p.
            Having selected a step you can use the down key on your keyboard to advance one step. You
            cannot go back atm.


