section(class="drawable-intro-howto big")
    div(class="drawable-intro-howto-descr")
        h2 Lists
        p.
            You may have recognized the little '+' button behind the radius value.
            The '+' can be used to add values, turning the field 'radius' into
            a list of numbers.

        p.
            If you add a value you notice, that the circle is still drawing and its
            radius didn't change. The circle still uses the 'radius' field and just
            uses the first value of the list. Changing the first value will change
            the size of the circle. Changing the second value will not have any visible
            effect.

        p.
            The next section will introduce ways to loop over a list of values to
            use these in the drawing.

    div(class="drawable-app-container" id="intro-data-lists" tabindex="0")

    div(class="drawable-intro-howto-descr")

        p.
            All these can be changed by simply editing the values. When doing so
            the drawing will change accordingly.

        p.
            For numeric values you can also use "scrubbing" to change the value:

        ul
            li Hold down the Ctrl-Key
            li Press and hold the mouse button in the field
            li You can now move the mouse left and right and the value changes

        p.
            This is a good way to see how the drawing will behave when using different
            data.
