section(class="drawable-intro-howto")
    div(class="drawable-app-container wide" id="intro-data-lists" tabindex="0")
    div(class="drawable-intro-howto-descr")
        h2 Lists
        p.
            You may have recognized the little '+' button behind the radius value.
            The '+' can be used to add values turning the field 'radius' into
            a list of numbers.

        p.
            If you add a value you notice, that the circle is still drawing and its
            radius didn't change. The circle still uses the 'radius' field and just
            uses the first value of the list. Changing the first value will change
            the size of the circle. Changing the second value will not have any visible
            effect.

        p.
            The next section will introduce ways to loop over a list of values to
            use these in the drawing.