section(class="drawable-intro-howto")
    div(class="drawable-app-container wide" id="intro-dataeditor" tabindex="0")
    div(class="drawable-intro-howto-descr")
        h2 The Data Editor
        p.
            The Data editor lets you create and modify various values that you then can use
            during the creation of the drawing.

        p.
            In this example there's one value that is tied to the radius of the circle.
            Try changing that value and see what happens.

        p.
            Holding down the CRTL-Key while pressing down the mouse over the input field
            lets you change the value by moving the mouse left and right. This is a great
            way to see how changing values affect the drawing.