section(class="drawable-intro-howto")
    div(class="drawable-app-container" id="intro-simple-shapes" tabindex="0")
    div(class="drawable-intro-howto-descr")
        h2 Drawing shapes
        section
            p.
                First, let's create some basic primitives: Circles, rectangles and lines. On the top
                of the designer you'll find a toolbar. Click any of the buttons and draw the according
                shape.
            p.
                All drawing tools in dapentry are "click-based". That means you click for each
                point of the shape you're drawing instead of holding down the mouse key and dragging a shape.
