section(class="drawable-intro-howto big")

    div(class="drawable-intro-howto-descr")
        h2 Editing Steps
        p.
            When selecting a step, an editor appears above the drawing. It allows you
            to edit the various components of the statement.

        p.
            In the example, there is one step that creates a circle. The editor of this step
            allows three thing to be changed:

        ul
            li The name of the circle object - Circle1
            li Where the center of the circle lies - at x = 200, y = 200
            li The radius of the circle - 150


    div(class="drawable-app-container" id="intro-editing-steps" tabindex="0")

    div(class="drawable-intro-howto-descr")


        p.
            All these can be changed by simply editing the values. When doing so
            the drawing will change accordingly.

        p.
            For numeric values you can also use "scrubbing" to change the value:

        ul
            li Hold down the Ctrl-Key
            li Press and hold the mouse button in the field
            li You can now move the mouse left and right and the value changes

        p.
            This is a good way to see, how changing these values affects the drawing.



