section(class="drawable-intro-howto big")
    div(class="drawable-intro-howto-descr")
        h2 ForEach
        p
            | In
            |
            a UsingData
            |
            | you saw that using lists on a step argument uses the first value only.
            | By using a forEach loop you can iterate over the values of a list
            | and use all its values.

        p.
            Here is only one of the three boxes from before. Now we want to iterate over the sizes
            list and make each box a different size.

        p.
            First create a normal do loop. Select all steps in the step list and click the
            'Loop' button. You now have 4 boxes.


        p.
            Loops can of course also use a data field. Change the DO step
            by clicking on it and dragging the 'boxes' field on the input
            field that specifies the number of iterations.

    div(class="drawable-app-container" id="intro-data-loops" tabindex="0")

    div(class="drawable-intro-howto-descr")


