section(class="drawable-intro-howto big")
    div(class="drawable-intro-howto-descr")
        h2 ForEach
        p.
            On interesting aspect of the example above is how the boxes are moved to
            separate them.

        p.
            In this example theres only one box and no loop yet. So first, let's create the loop.
            Select the step in the step list and click the 'Loop' button.

        p.
            We now have four loops since the default number of iterations is always 4.
            But they are on top of each other. Stepping through the steps one by one
            using the down key comes in handy now.

        p.
            Select the DO-step by clicking it.

        p.
            The drawing is empty now as the drawing is only drawn up to the DO step.

        p.
            Use the down-key once to draw one box.

        p.
            Now the CREATE step for the box is selected and we see one box. Now we can manipulate this box. All steps we
            create will be placed under the last selected step. And since we now selected is inside the loop
            all new steps will be put inside the loop as well.

        p.
            Select the box by clicking it. Use the transform tool (G) to move the box.

        p.
            When you start moving you'll see that the snap points of the box stay at their original
            position. We'll use this to move the box right next to each other.

        p.
            Move the box by selecting the bottom left handle and move it to bottom right snap point.
            (remember that you can delete steps you created at any time)

        p.
            

        p.
            Here is only one of the three boxes from before. Now we want to iterate over the sizes
            list and make each box a different size.

        p.
            First create a normal do loop. Select all steps in the step list and click the
            'Loop' button. You now have 4 boxes.


        p.
            Loops can of course also use a data field. Change the DO step
            by clicking on it and dragging the 'boxes' field on the input
            field that specifies the number of iterations.

    div(class="drawable-app-container" id="intro-data-loops-moving" tabindex="0")

    div(class="drawable-intro-howto-descr")


