section(class="drawable-intro-howto big")
    div(class="drawable-intro-howto-descr")
        h2 Loops
        p.
            Loops can be used to repeat steps multiple times.

        p.
            In the example there are thee boxes, because the loops is repeated
             3 times.

        p.
            Loops can of course also use a data field. Change the DO step
            by clicking on it and dragging the 'boxes' field on the input
            field that specifies the number of iterations.

    div(class="drawable-app-container" id="intro-data-loops" tabindex="0")

    div(class="drawable-intro-howto-descr")


