section(class="drawable-intro-howto")
    div(class="drawable-app-container" id="intro-snapping" tabindex="0")
    div(class="drawable-intro-howto-descr")
        h2 Snapping
        section
            p.
                One important feature is snapping. You can snap to points of other objects when
                creating and transforming objects.

            p.
                The canvas you're drawing on has snap points as well. This allows you to create drawings that
                always fit into the canvas and change when the canvas size changes.

            p.
                Try drawing again. You'll see snap points appear for the canvas, circle and every object that
                you have drawn. You can also manipulate the objects.

            p.
                Since the toolbar is gone, here's a reminder of the hot keys:

            ul
                li C - Circle
                li R - Rectangle
                li L - Line

            ul
                li G - Move
                li T - Rotate
                li S - Scale