section(class="drawable-intro-howto")
    div(class="drawable-app-container" id="intro-transformations" tabindex="0")
    div(class="drawable-intro-howto-descr")
        h2 Transformations
        section
            p.
                You can of course transform objects like you may be used to from other tools. The basic
                transformations for moving (translation), rotating and scaling are supported.

            p.
                There are of course hotkeys for these as well
            ul
                li G - Move (grab)
                li T - Rotate (turn)
                li S - Scale

            p.
                You can try these on the rectangle in the designer if you like. These expect you to grab
                one of the handles and drag it around.

            p.
                The pivot point for scaling and selecting is selected automatically.